*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(185, 192, 185);   
    padding: 50px 0;
}
.container{
    display: grid;
    grid-template:repeat(5,6rem)/repeat(4,1fr) ;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 20px  20px rgb(102, 108, 102);
}

input{
    color: whitesmoke;
    background-color: black;
    border: none;
    font-size: 1.6rem;
    font-weight: 400;
}
.sidebar{
    background-color: rgb(125, 121, 121);
}
.reset{
    background-color: rgb(20, 129, 120);
}
.output{
    grid-column: 1/-2;
    color: rgb(63, 61, 61);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
    background-color: whitesmoke;
}
@media  (min-width:744px){
    .container{
        grid-template:repeat(5,8rem)/repeat(4,1fr);
        width: 40%;
    }
    input{
        font-size: 2.5rem;
        font-weight: 300;
    }
    .output{
        font-size: 2.5rem;
    }
}